@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inspiration&family=Manrope:wght@600&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inspiration&family=Manrope:wght@600&family=Source+Serif+Pro&display=swap');
body{
    padding: 0%;
    margin: 0%;
    text-align: center;
    text-decoration: none;
}
.navbar{
  
}
#navbarNav{
    margin-left: 50%;
}
.navbar-brand{
    border: 3px solid white;
    border-radius: 5%;
}
#invest{
    margin-top: 10%;
    color: white;
    font-family: 'Akronim', cursive;
    font-size: 64px;
    margin-bottom: 10%;
    
}
#header{
    background-size: cover;
    background-repeat: no-repeat;
}
iframe{
    height: 40vh;
    width: 30vw;
}