*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navigation section */
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bckground2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  text-align: right;
  flex: 1;
}
.nav-links ul li {
  padding: 8px 12px;
  display: inline-block;
  list-style: none;
  position: relative;
}
.nav-links ul li::after{
  content: '';
  margin: auto;
  width:0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.nav-links ul li a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
nav img{
  width: 150px;
}


/* Mid-section */

.text-box{
  position: absolute;
  color: white;
  width: 90%;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}